body {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}

.parent {
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    display: flex;
    flex-flow: wrap row;
    padding: 6px;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 30px;
}

.cell {
    display: block;
    width: 60px;
    height: 60px;
    margin: 2px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    font-size: 0;
    color: #3c3f41;
    background: #3c3f41;
}

.cell.show{
    font-size: 30px;
    background: transparent;
    color: #000;
}

.ButtonReset {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #3c3f41;
}

.tries {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}