body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

button {
    cursor: pointer;
}
